# Ignore output directory and files
gaps/
gaps.json

# Ignore other common Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
.venv/

#ignore test files
*.mp3
*.json

#ignore virtual environment
/venv